################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Components/bin/Debug/netstandard2.0
/src/Components/.vs
/src/Components/obj
/src/Website1/bin/Debug
/src/Website1/obj
/src/WebsiteBase/bin/Debug
/src/WebsiteBase/obj
/.vs/Blazor Demo/v16
/src/Ramverk/bin/Debug
/src/Ramverk/obj
